In [72]:
import pandas as pd 
import numpy as np 
from pathlib import Path

In [73]:
files_path = Path('ramen-ratings.csv')
data = pd.read_csv(files_path)
data.head(5)

,Review #,Brand,Variety,Style,Country,Stars,Top Ten
0,2580,New Touch,T's Restaurant Tantanmen,Cup,Japan,3.75,NaN
1,2579,Just Way,Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...,Pack,Taiwan,1,NaN
2,2578,Nissin,Cup Noodles Chicken Vegetable,Cup,USA,2.25,NaN
3,2577,Wei Lih,GGE Ramen Snack Tomato Flavor,Pack,Taiwan,2.75,NaN
4,2576,Ching's Secret,Singapore Curry,Pack,India,3.75,NaN

In [74]:
# Let's have a look at the ramen dishes served in Taiwan 
data.loc[data['Country']=='Taiwan']

,Review #,Brand,Variety,Style,Country,Stars,Top Ten
1,2579,Just Way,Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...,Pack,Taiwan,1,NaN
3,2577,Wei Lih,GGE Ramen Snack Tomato Flavor,Pack,Taiwan,2.75,NaN
40,2540,Wei Lih,GGE Noodle Snack Wheat Crackers Mexican Spicy,Pack,Taiwan,3.25,NaN
65,2515,Uni-President,Man Han Feast Spicy Beef Flavor Instant Noodles,Bowl,Taiwan,5,NaN
68,2512,Mom's Dry Noodle,Dan Dan Noodle,Pack,Taiwan,5,NaN
...,...,...,...,...,...,...,...
2500,80,Unif / Tung-I,Artificial Chicken,Pack,Taiwan,3.5,NaN
2512,68,Wei Lih,Jah Jan Mien Instant Noodle With Fried Soybean...,Pack,Taiwan,4,NaN
2522,58,Ve Wong,A-One Bun Tom Shrimp,Pack,Taiwan,3,NaN
2537,43,Kim Ve Wong,Jaopai Series: Vegetarian Instant Noodles,Bowl,Taiwan,0,NaN
2572,8,Tung-I,Chinese Beef Instant Rice Noodle,Pack,Taiwan,3,NaN

In [91]:
# Let#s have a look at the ramen dishes which have rating above than average 
data.loc[data['Stars'] > 2.5]

#TypeError: '>' not supported between instances of 'str' and 'float'
# the colums have type(string)

,Review #,Brand,Variety,Style,Country,Stars,Top Ten
6,2574,Acecook,Spice Deli Tantan Men With Cilantro,Cup,Japan,4.0,NaN
10,2570,Tao Kae Noi,Creamy tom Yum Kung Flavour,Pack,Thailand,5.0,NaN
11,2569,Yamachan,Yokohama Tonkotsu Shoyu,Pack,USA,5.0,NaN
14,2566,Nissin,Demae Ramen Bar Noodle Aka Tonkotsu Flavour In...,Pack,Hong Kong,5.0,NaN
17,2563,Yamachan,Tokyo Shoyu Ramen,Pack,USA,5.0,NaN
...,...,...,...,...,...,...,...
2555,25,Nissin,Demae Ramen Spicy Flavor,Pack,Japan,3.0,NaN
2559,21,Nongshim,Champong Oriental Noodles,Pack,South Korea,4.0,NaN
2561,19,Nongshim,Shin Ramyun,Pack,South Korea,4.0,NaN
2567,13,Sapporo Ichiban,Chow Mein,Pack,Japan,5.0,2012 #4
2572,8,Tung-I,Chinese Beef Instant Rice Noodle,Pack,Taiwan,3.0,NaN

In [ ]:
#find the string without indexing  in list
g =list(filter(lambda x : not str(x).replace('.','',1).isdigit(),data['Stars']))
print(g)

['Unrated', 'Unrated', 'Unrated']

In [76]:
# index 
data['Stars'][data['Stars'].apply(lambda x : not str(x).replace('.','',1).isdigit())]

32     Unrated
122    Unrated
993    Unrated
Name: Stars, dtype: object

In [ ]:
try :
    data['Stars'].astype(float)
    data['Stars'] > 2.5
    
except ValueError :
    data['Stars']=data['Stars'].apply(lambda x: float(x) if str(x).replace('.','',1).isdigit() else 0.0) 
data.loc[data['Stars'] > 2.5]

,Review #,Brand,Variety,Style,Country,Stars,Top Ten
6,2574,Acecook,Spice Deli Tantan Men With Cilantro,Cup,Japan,4.0,NaN
10,2570,Tao Kae Noi,Creamy tom Yum Kung Flavour,Pack,Thailand,5.0,NaN
11,2569,Yamachan,Yokohama Tonkotsu Shoyu,Pack,USA,5.0,NaN
14,2566,Nissin,Demae Ramen Bar Noodle Aka Tonkotsu Flavour In...,Pack,Hong Kong,5.0,NaN
17,2563,Yamachan,Tokyo Shoyu Ramen,Pack,USA,5.0,NaN
...,...,...,...,...,...,...,...
2555,25,Nissin,Demae Ramen Spicy Flavor,Pack,Japan,3.0,NaN
2559,21,Nongshim,Champong Oriental Noodles,Pack,South Korea,4.0,NaN
2561,19,Nongshim,Shin Ramyun,Pack,South Korea,4.0,NaN
2567,13,Sapporo Ichiban,Chow Mein,Pack,Japan,5.0,2012 #4
2572,8,Tung-I,Chinese Beef Instant Rice Noodle,Pack,Taiwan,3.0,NaN