In [6]:
import pandas as pd 
import numpy as np 
from pathlib import Path

In [10]:
# call files and reading 
file_path = Path("ramen-ratings.csv")

data =pd.read_csv(file_path)
data.head(10) # the firs 10 rows

,Review #,Brand,Variety,Style,Country,Stars,Top Ten
0,2580,New Touch,T's Restaurant Tantanmen,Cup,Japan,3.75,NaN
1,2579,Just Way,Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...,Pack,Taiwan,1,NaN
2,2578,Nissin,Cup Noodles Chicken Vegetable,Cup,USA,2.25,NaN
3,2577,Wei Lih,GGE Ramen Snack Tomato Flavor,Pack,Taiwan,2.75,NaN
4,2576,Ching's Secret,Singapore Curry,Pack,India,3.75,NaN
5,2575,Samyang Foods,Kimchi song Song Ramen,Pack,South Korea,4.75,NaN
6,2574,Acecook,Spice Deli Tantan Men With Cilantro,Cup,Japan,4,NaN
7,2573,Ikeda Shoku,Nabeyaki Kitsune Udon,Tray,Japan,3.75,NaN
8,2572,Ripe'n'Dry,Hokkaido Soy Sauce Ramen,Pack,Japan,0.25,NaN
9,2571,KOKA,The Original Spicy Stir-Fried Noodles,Pack,Singapore,2.5,NaN

In [20]:
# select the country from columns 
print(data['Country'])
print('all Country names in this columns \n','*'*30)

print(data['Country'].unique())
print('\n','*'*30,'\njust unique country names')
print(data['Country'].tolist())
print('Country in List python ')

0          Japan
1         Taiwan
2            USA
3         Taiwan
4          India
          ...
2575     Vietnam
2576    Thailand
2577    Thailand
2578    Thailand
2579         USA
Name: Country, Length: 2580, dtype: object
all Country names in this columns
 ******************************
['Japan' 'Taiwan' 'USA' 'India' 'South Korea' 'Singapore' 'Thailand'
 'Hong Kong' 'Vietnam' 'Ghana' 'Malaysia' 'Indonesia' 'China' 'Nigeria'
 'Germany' 'Hungary' 'Mexico' 'Fiji' 'Australia' 'Pakistan' 'Bangladesh'
 'Canada' 'Nepal' 'Brazil' 'UK' 'Myanmar' 'Netherlands' 'United States'
 'Cambodia' 'Finland' 'Sarawak' 'Philippines' 'Sweden' 'Colombia'
 'Estonia' 'Holland' 'Poland' 'Dubai']

 ******************************
just unique country names

In [33]:
# index based selection 
#select the first row of the data 
print(data.head(1)) # dataFrame the first Rwo
print('*'*30)
print(data.iloc[0,:])  # iloc numric sel [0] the first index row [,:] first to end columns ''data.iloc['row',columns]

   Review #      Brand                    Variety Style Country Stars Top Ten
0      2580  New Touch  T's Restaurant Tantanmen    Cup   Japan  3.75     NaN
******************************
Review #                         2580
Brand                       New Touch
Variety     T's Restaurant Tantanmen
Style                             Cup
Country                         Japan
Stars                            3.75
Top Ten                           NaN
Name: 0, dtype: object

In [35]:
# select the first colums 
data.iloc[:,0]

0       2580
1       2579
2       2578
3       2577
4       2576
        ...
2575       5
2576       4
2577       3
2578       2
2579       1
Name: Review #, Length: 2580, dtype: int64

In [38]:
# select the first 3 rows 
data.iloc[0:3,0] # rows index 0:3 in this colums indexing 0 first columns

0    2580
1    2579
2    2578
Name: Review #, dtype: int64

In [39]:
# last columns 
data.iloc[:,-1]

0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
       ...
2575    NaN
2576    NaN
2577    NaN
2578    NaN
2579    NaN
Name: Top Ten, Length: 2580, dtype: object

In [40]:
# fancy indexing 
data.iloc[[1,10,100],2]

1      Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...
10                           Creamy tom Yum Kung Flavour
100                                      Pork Wantan Men
Name: Variety, dtype: object

In [42]:
#the last 10 rows 
data.iloc[-10:,:]

,Review #,Brand,Variety,Style,Country,Stars,Top Ten
2570,10,Smack,Vegetable Beef,Pack,USA,1.5,NaN
2571,9,Sutah,Cup Noodle,Cup,South Korea,2,NaN
2572,8,Tung-I,Chinese Beef Instant Rice Noodle,Pack,Taiwan,3,NaN
2573,7,Ve Wong,Mushroom Pork,Pack,Vietnam,1,NaN
2574,6,Vifon,Nam Vang,Pack,Vietnam,2.5,NaN
2575,5,Vifon,"Hu Tiu Nam Vang [""Phnom Penh"" style] Asian Sty...",Bowl,Vietnam,3.5,NaN
2576,4,Wai Wai,Oriental Style Instant Noodles,Pack,Thailand,1,NaN
2577,3,Wai Wai,Tom Yum Shrimp,Pack,Thailand,2,NaN
2578,2,Wai Wai,Tom Yum Chili Flavor,Pack,Thailand,2,NaN
2579,1,Westbrae,Miso Ramen,Pack,USA,0.5,NaN

In [44]:
data.head(5)

,Review #,Brand,Variety,Style,Country,Stars,Top Ten
0,2580,New Touch,T's Restaurant Tantanmen,Cup,Japan,3.75,NaN
1,2579,Just Way,Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...,Pack,Taiwan,1,NaN
2,2578,Nissin,Cup Noodles Chicken Vegetable,Cup,USA,2.25,NaN
3,2577,Wei Lih,GGE Ramen Snack Tomato Flavor,Pack,Taiwan,2.75,NaN
4,2576,Ching's Secret,Singapore Curry,Pack,India,3.75,NaN

In [ ]:
#label based selection
data.loc[:,['Brand','Style']]  # rows : ,columns['col','col]

               Brand Style
0          New Touch   Cup
1           Just Way  Pack
2             Nissin   Cup
3            Wei Lih  Pack
4     Ching's Secret  Pack
...              ...   ...
2575           Vifon  Bowl
2576         Wai Wai  Pack
2577         Wai Wai  Pack
2578         Wai Wai  Pack
2579        Westbrae  Pack

[2580 rows x 2 columns]

In [ ]:
#the difference between iloc and loc 
print(data.iloc[0:4]) # in range len 4 -----0 1 2 3

print(data.loc[0:4]) # from 0 to 4

   Review #      Brand                                            Variety  \
0      2580  New Touch                          T's Restaurant Tantanmen
1      2579   Just Way  Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...
2      2578     Nissin                      Cup Noodles Chicken Vegetable
3      2577    Wei Lih                      GGE Ramen Snack Tomato Flavor

  Style Country Stars Top Ten
0   Cup   Japan  3.75     NaN
1  Pack  Taiwan     1     NaN
2   Cup     USA  2.25     NaN
3  Pack  Taiwan  2.75     NaN
   Review #           Brand  \
0      2580       New Touch
1      2579        Just Way
2      2578          Nissin
3      2577         Wei Lih
4      2576  Ching's Secret

                                             Variety Style Country Stars  \
0                          T's Restaurant Tantanmen    Cup   Japan  3.75
1  Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...  Pack  Taiwan     1
2                      Cup Noodles Chicken Vegetable   Cup     USA  2.25
3                      GGE Ramen Snack Tomato Flavor  Pack  Taiwan  2.75
4                                    Singapore Curry  Pack   India  3.75

  Top Ten
0     NaN
1     NaN
2     NaN
3     NaN
4     NaN

In [53]:
#columns name in list 
data.columns.tolist()

['Review #', 'Brand', 'Variety', 'Style', 'Country', 'Stars', 'Top Ten']

In [55]:
# change index for data set 
df_index_new=data.set_index('Review #')
df_index_new

,Brand,Variety,Style,Country,Stars,Top Ten
Review #,,,,,,
2580,New Touch,T's Restaurant Tantanmen,Cup,Japan,3.75,NaN
2579,Just Way,Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...,Pack,Taiwan,1,NaN
2578,Nissin,Cup Noodles Chicken Vegetable,Cup,USA,2.25,NaN
2577,Wei Lih,GGE Ramen Snack Tomato Flavor,Pack,Taiwan,2.75,NaN
2576,Ching's Secret,Singapore Curry,Pack,India,3.75,NaN
...,...,...,...,...,...,...
5,Vifon,"Hu Tiu Nam Vang [""Phnom Penh"" style] Asian Sty...",Bowl,Vietnam,3.5,NaN
4,Wai Wai,Oriental Style Instant Noodles,Pack,Thailand,1,NaN
3,Wai Wai,Tom Yum Shrimp,Pack,Thailand,2,NaN
2,Wai Wai,Tom Yum Chili Flavor,Pack,Thailand,2,NaN
1,Westbrae,Miso Ramen,Pack,USA,0.5,NaN

In [61]:
df_index_new.iloc[0:4,:]

,Brand,Variety,Style,Country,Stars,Top Ten
Review #,,,,,,
2580,New Touch,T's Restaurant Tantanmen,Cup,Japan,3.75,NaN
2579,Just Way,Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...,Pack,Taiwan,1,NaN
2578,Nissin,Cup Noodles Chicken Vegetable,Cup,USA,2.25,NaN
2577,Wei Lih,GGE Ramen Snack Tomato Flavor,Pack,Taiwan,2.75,NaN

In [60]:
df_index_new.loc[2580:2577,['Brand','Style']]

              Brand Style
Review #
2580      New Touch   Cup
2579       Just Way  Pack
2578         Nissin   Cup
2577        Wei Lih  Pack